::v-deep .v-carousel__controls {
  align-items: center;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  display: flex;
  height: 23px;
  justify-content: center;
  list-style-type: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.carousel_img {
}

.user-wrap img {
  width: 100%;
  vertical-align: middle;
}

.user-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: "Puradak_header";
  text-align: center;
}

.user-text .img_sub_text {
  font-family: "Puradak_header";
}

.img_text {
  color: white;
}

.mid_text {
  font-family: "Puradak_header";
}

.sub_CON_Tit_1 {
  margin-bottom: 10px;
  margin-top: 30px;
}

.page_sect5 {
  margin-top: 5em !important;
}

.sub_bis_CON1 .title {
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px;
}

.sub_bis_CON1 .title .xi {
  padding-right: 5px;
  color: #0e9655;
  font-size: 1.188em;
}

.sub_bis_CON1 .title .ti {
  font-size: 1.4em;
  font-family: "Puradak_header";
  color: #111;
}

.sub_CON_Tit_1 .ti {
  font-size: 1.188em;
  color: #104b00;
  position: relative;
  font-family: "Puradak_header";
}

.sub_CON_Tit_1 .ti:before {
  position: absolute;
  content: "\e928";
  color: #104b00;
  left: 0;
  top: 4px;
  font-size: 0.813em;
  font-style: normal;
}

.sub_CON_TExt_1.st1 .tx {
  line-height: 1.6;
  font-family: "Puradak_header";
}

.sub_CON_TExt_1.st1 .tx:before {
  font-family: "Puradak_header";
  top: 10px;
}

.sub_CON_TExt_1 {
  border: 1px solid #ddd;
  padding: 1.5em 2em;
}
.button_text {
  //참여하기 버튼
  font-size: 18px;
  font-family: "Puradak_header";
}

//폼

.board_write_form {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 !important;
  display: flex;
}

.board_write_form {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0 !important;
  display: flex;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

.board_write_form tbody {
  background: #fff;
  position: relative;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.board_write_form .form_field th {
  width: 200px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: #4a465e;
  padding: 20px 15px;
  vertical-align: middle;
  border: 1px solid #9e9ca9;
  cursor: default;
}

.board_write_form .form_field:nth-child(2) td.field {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}

.board_write_form td.field {
  font-size: 20px;
  padding: 10px 10px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #bfbfbf;
}

.board_write_form input[type="text"],
.board_write_form input[type="tel"],
.board_write_form select {
  border: 1px solid #bbb;
  font-family: "NotoSansKR-Medium";
  font-size: 17px;
  padding-left: 10px;
}

.board_write_form select {
  cursor: pointer;
}

.board_write_form input[type="text"],
.board_write_form input[type="tel"],
.board_write_form select {
  height: 50px;
}

.w120 {
  width: 110px;
}

select:not(:-internal-list-box) {
  overflow: visible !important;
}

.board_write_form .form_field:nth-child(1) td.field {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}

.board_write_form input[type="text"],
.board_write_form input[type="tel"],
.board_write_form select {
  border: 1px solid #bbb;
  font-family: "NotoSansKR-Medium";
  font-size: 17px;
  padding-left: 10px;
}

.board_write_form input[type="text"],
.board_write_form input[type="tel"],
.board_write_form select {
  height: 50px;
}

.w500 {
  width: 100px !important;
  border: 1px solid #bbb;
  font-family: "NotoSansKR-Medium";
  font-size: 17px;
  padding-left: 10px;
  height: 50px;
}
.w500_number {
  width: 200px;
  border: 1px solid #bbb;
  font-family: "NotoSansKR-Medium";
  font-size: 17px;
  padding-left: 10px;
}
option {
  font-weight: normal;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.agree_wrap {
  text-align: left;
  position: relative;
  margin-top: 30px;
}

.agree_box {
  width: 100%;
  overflow-y: scroll;
  /* border: 2px solid #3f1d42; */
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 15px;
  height: 215px;
  color: #333;
  font-size: 18px;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
}

.agree_radio {
  font-size: 20px;
  padding: 0px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
}
.banner_img {
  height: 328px;
  filter: brightness(40%);
}

.button_box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn_l {
  margin-right: 5px;
  border: 1px solid #000;
}

.btn_r {
  margin-left: 5px;
  border: 1px solid #000;
}

.buttons {
  text-align: center;
}

.buttons a.Notconfirm {
  background: linear-gradient(to right, #bebebe, rgb(155, 155, 155));
  font-size: 28px;
  width: 250px;
  height: 75px;
  line-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.buttons a.confirm {
  background: linear-gradient(to right, #a6d254, #8cb83a);
  font-size: 28px;
  width: 250px;
  height: 75px;
  line-height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a.cancel {
  background-color: #a3a3a3;
  display: inline-block;
  font-size: 28px;
  width: 250px;
  height: 75px;
  line-height: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agree_radio {
  font-size: 20px;
  padding: 0px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
}

.agree_radio {
  font-size: 20px;
  padding: 0px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
}

.agree_radio {
  font-size: 20px;
  padding: 0px;
  text-align: center;
  color: #000;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5px;
}

.agree_radio label {
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
}

// 플로팅부분

.floating {
  display: inline-block;
}
.floating {
  position: fixed;
  z-index: 99997 !important;
  right: 25%;
  top: 325px;
  left: 1739px;
}
#go_event01_pc,
#go_event02_pc {
  cursor: pointer;
}
#go_event01_pc {
  animation: ease-in-out 2s infinite;
  position: relative;
  animation: loop 1.1s infinite;
  top: 120px;
}
img {
  display: block;
}

#go_event01_pc,
#go_event02_pc {
  cursor: pointer;
}
#go_event02_pc {
  /* position: absolute;
    top: 120px;
    animation: go_event02_pc ease-in-out 1.95s .4s infinite; */
  position: relative;
  animation: loop 1.1s infinite;
  top: 120px;
}
.img__sub_text {
  color: white;
}

@keyframes loop {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 6px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.mid_img {
  width: 300px;
  height: 300px;
}
#c_hp1,
#c_hp2,
#c_hp3 {
  width: 200px;
}

@media (max-width: 600px) {
  //모바일일때

  .w500 {
    border: 1px solid #bbb;
    font-family: "NotoSansKR-Medium";
    font-size: 17px;
    padding-left: 10px;
    height: 50px;
    width: 300px;
  }

  .sub1_5 .sec1 .txt_box .txt_tit[data-v-0aa04b28] {
    font-size: 16px;
    position: relative;
    margin-top: 40px;
    position: relative;
    line-height: 1.4;
  }

  .mid_text[data-v-0aa04b28] {
    font-family: "Puradak_header";
    font-size: 14px;
  }
  .mid_text[data-v-0aa04b28][data-v-0aa04b28] {
    font-family: "Puradak_header";
    font-size: 14px;
  }
  .agree_box {
    width: 100%;
    overflow-y: scroll;
    /* border: 2px solid #3f1d42; */
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
    height: 215px;
    color: #333;
    font-size: 12px;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
  }

  #go_event01_pc,
  #go_event02_pc {
    display: none;
  }
  #pc {
    display: none;
  }

  #c_hp1,
  #c_hp2,
  #c_hp3 {
    width: 90px;
  }

  .board_write_form .form_field th {
    width: 30px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #4a465e;
    padding: 20px 15px;
    vertical-align: middle;
    border: 1px solid #9e9ca9;
    cursor: default;
  }

  .board_write_form input[type="text"],
  .board_write_form input[type="tel"],
  .board_write_form select {
    height: 50px;
    width: 300px;
  }

  .agree_radio {
    font-size: 12px;
  }
  .agree_radio_01 .strong {
    font-size: 12px;
  }
  .agree_radio_02 .strong {
    font-size: 12px;
  }

  .page_sect5 {
    margin-top: 0px !important;
  }

  .content_second {
    //병해충, 바이러스에 강하다
    margin: 10px;
  }

  .mid_img {
    width: 100px;
    height: 100px;
  }

  .banner_img {
    height: 174px;
  }

  .img_text {
    //한국표준육묘는 어떤 곳인가요?
    font-size: 20px;
  }

  .img__sub_text {
    font-size: 14px; //한국표준육묘는 국내 최초의 수직형 LED 육묘업체입니다.
  }

  .user-text {
    font-size: 12px;
  }

  .button_text {
    font-size: 20px;
    font-family: "Puradak_header";
  }

  .user-text .img_sub_text {
    font-size: 12px;
  }

  .sub_bis_CON1 .title .ti {
    font-size: 15px;
  }
  .sub_CON_Tit_1 .ti {
    font-size: 12px;
  }
  .sub_CON_TExt_1 .tx {
    font-size: 12px;
  }

  .banner {
    height: 200px;
  }
}

// 고객사리스트
.box1 {
  width: 1200px;
  margin: 0 auto;
  max-width: 98%;
}
.sub1_5 .sec1 {
  margin-top: 5em;
  width: 100%;
  background: #f5f5f5;
  padding: 40px 0;
}
.sub1_5 .tit_box {
  width: 100%;
  padding-top: 10px;
}
.sub1_5 .tit_box .sub1_5_tit {
  font-size: 1.75em;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.sub1_5 .tit_box .sub1_5_sub_tit {
  text-align: center;
  position: relative;
}
.txt_green {
  color: #257f00;
  vertical-align: baseline;
}
.sub1_5 .sec1 .txt_box .txt_tit {
  font-size: 1.7em;
  position: relative;
  margin-top: 40px;
  position: relative;
  line-height: 1.4;
}

.sub1_5 .sec1 .txt_box .txt_tit:before {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #257f00;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.sub1_5 .sec1 .txt_box ul {
  margin-top: 80px;
  font-size: 1.25em;
}

.sub1_5 .sec1 .txt_box ul li {
  margin-bottom: 10px;
}

a,
input,
button,
textarea,
select,
li {
  -webkit-tap-highlight-color: transparent;
}
ul,
ol,
li {
  list-style: none;
}

//고객사리스트 이미지
