.banner_img {
  height: 328px;
  filter: brightness(40%);
}
.banner_title_text {
  color: white;
  font-family: "Puradak_header" !important;
}

.list_title_text {
  font-family: "Puradak_header" !important;
}

.list_title_text:before {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #257f00;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.list_title_text_green {
  font-family: "Puradak_header" !important;
  color: green;
}
