.img-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.blur {
  filter: brightness(50%);
  z-index: 1;
  height: 328px;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 95px;
}

.banner_img {
  height: 328px;
  filter: brightness(40%);
  z-index: 1;
}
.banner_title_text {
  color: white;
  font-family: "Puradak_header" !important;
  color: white !important;
  z-index: 2;
}

.banner_content_text {
  color: white;
  font-family: "Puradak_header" !important;
  z-index: 2;
  font-weight: normal;
}

.list_title_text {
  font-family: "Puradak_header" !important;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 5px;
}
.list_title_sm_text {
  font-family: "Puradak_header" !important;
}
.list_title_text:before {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  background: #257f00;
  position: absolute;
  left: 0;
  bottom: -30px;
}

.list_title_text_green {
  font-family: "Puradak_header" !important;
  color: green;
}
.mid_img {
  width: 200px;
  height: 200px;
}

.card_title {
  font-family: "Puradak_header" !important;
}

@media (max-width: 600px) {
  .mid_img {
    width: 50px;
    height: 50px;
  }
  .blur {
    filter: brightness(50%);
    z-index: 1;
    height: 200px;
  }
  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    padding: 18px;
  }
}
